<% flash.each do |type, msg| %>
  <div class="flash">
    <%= msg %>
  </div>
<% end %>
<h1>Users List</h1>
<ul id="users_list">
  <% @users.all.each do |user| %>
    <li><%= link_to(render('user_card', user: user), user_path(user)) %></li>
  <% end %>
</ul>
